<ion-header>
  	<ion-navbar color="primary">
    	<ion-title>New Lead</ion-title>
  	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list>
        <ion-item class="border">
            <ion-label>Lead Code * :</ion-label>
            <ion-input type="text" [(ngModel)]="lead.lead_code"></ion-input>
        </ion-item>
        <p class="error" *ngIf="errors && errors.lead_code">{{ errors.lead_code[0] }}</p>

        <ion-item class="border">
            <ion-label>Lead Name * :</ion-label>
            <ion-input type="text" [(ngModel)]="lead.lead_name"></ion-input>
        </ion-item>
        <p class="error" *ngIf="errors && errors.lead_name">{{ errors.lead_name[0] }}</p>

        <ion-item class="border">
            <ion-label>Lead Type :</ion-label>
            <ion-select interface="popover" [(ngModel)]="lead.lead_type_id">
                <ion-option *ngFor = "let lead_type of lead_types" value="{{ lead_type.lead_type_id }}">
                    {{ lead_type.title }}
                </ion-option>
            </ion-select>
        </ion-item>
        <p class="error" *ngIf="errors && errors.lead_type_id">{{ errors.lead_type_id[0] }}</p>

        <ion-item class="border">
            <ion-label>Product Interest * :</ion-label>
            <ion-select interface="popover" [(ngModel)]="lead.category_id">
                <ion-option *ngFor = "let category of categories" value="{{ category.category_id }}">
                    {{ category.title }}
                </ion-option>
            </ion-select>
        </ion-item>
        <p class="error" *ngIf="errors && errors.category_id">{{ errors.category_id[0] }}</p>

        <ion-item class="border">
            <ion-label>Mobile No * :</ion-label>
            <ion-input type="text" [(ngModel)]="lead.mobile_no"></ion-input>
        </ion-item>
        <p class="error" *ngIf="errors && errors.mobile_no">{{ errors.mobile_no[0] }}</p>

        <ion-item class="border">
            <ion-label>Alternate No :</ion-label>
            <ion-input type="text" [(ngModel)]="lead.alternate_no"></ion-input>
        </ion-item>
        <p class="error" *ngIf="errors && errors.alternate_no">{{ errors.alternate_no[0] }}</p>

        <ion-item class="border">
            <ion-label>Email :</ion-label>
            <ion-input type="text" [(ngModel)]="lead.email"></ion-input>
        </ion-item>
        <p class="error" *ngIf="errors && errors.email">{{ errors.email[0] }}</p>

        <ion-item class="border">
            <ion-label>Reference :</ion-label>
            <ion-select interface="popover" [(ngModel)]="lead.reference_id">
                <ion-option *ngFor = "let reference of references" value="{{ reference.reference_id }}">
                    {{ reference.title }}
                </ion-option>
            </ion-select>
        </ion-item>
        <p class="error" *ngIf="errors && errors.reference_id">{{ errors.reference_id[0] }}</p>

        <ion-item class="border">
            <ion-label>Area * :</ion-label>
            <ion-select interface="popover" [(ngModel)]="lead.area_id">
                <ion-option *ngFor = "let area of areas" value="{{ area.area_id }}">
                    {{ area.area }}
                </ion-option>
            </ion-select>
        </ion-item>
        <p class="error" *ngIf="errors && errors.area_id">{{ errors.area_id[0] }}</p>

        <ion-item class="border">
            <ion-label>Address * :</ion-label>
            <ion-input type="text" [(ngModel)]="lead.address"></ion-input>
        </ion-item>
        <p class="error" *ngIf="errors && errors.address">{{ errors.address[0] }}</p>

    </ion-list>
</ion-content>
<ion-footer no-border>
    <button class="footer-button" ion-button full color="primary" (click)="save()">
    	Save & Continue
    </button>
</ion-footer>