<ion-content padding>
    <div class="logo">
        <img src="assets/imgs/logo.png"/>
    </div>
    <div class="heading">
	    <h2>Sign In</h2>
	    <span>Welcome back! Please signin to continue.</span>
	</div>
    <div>
        <ion-label>Email Address</ion-label>
        <ion-input [(ngModel)]="user.email" placeholder="name@address.com" type="email" class="input"></ion-input>
    </div>
    <div>
        <ion-label>Password</ion-label>
        <ion-input [(ngModel)]="user.password" placeholder="Enter your password" type="password" class="input"></ion-input>
    </div>
</ion-content>

<ion-footer no-border>
    <button class="footer-button" ion-button full color="primary" (click)="login()">
    	Secure Login
    </button>
</ion-footer>
