page-login {
	.logo {
        width: 250px;
        margin-left: auto;
        margin-right: auto;
    }

    .heading {
    	line-height: 2px;
    	margin-top:40px;
    	padding-bottom:25px;
    	text-align:center;
    }

    .input {
        border:1px solid grey;
    }

    .footer-button {
        margin-top: 0px;
        margin-bottom: 0px;
        height:50px;
    }
}
