<ion-header>
    <ion-navbar>
        <ion-buttons left>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Change Status</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item class="border">
            <ion-label>Status :</ion-label>
            <ion-select [(ngModel)]="user.status_id">
			    <ion-option *ngFor="let status of statuses" [value]="status.status_id">{{ status.title }}</ion-option>
			</ion-select>
        </ion-item>
        <p class="error" *ngIf="errors && errors.status_id">{{ errors.status_id[0] }}</p>
    </ion-list>
    <ion-list>
        <ion-item class="border">
            <ion-label>Comment :</ion-label>
            <ion-input type="text" [(ngModel)]="user.comment"></ion-input>
        </ion-item>
        <p class="error" *ngIf="errors && errors.comment">{{ errors.comment[0] }}</p>
    </ion-list>
</ion-content>
<ion-footer no-border>
    <button class="footer-button" ion-button full color="primary" (click)="changeStatus()">
    	Submit
    </button>
</ion-footer>
