<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{ call_type.title }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="body">
	<ion-fab right bottom>
        <button ion-fab color="secondary" (click)="filterCall()">
        	<ion-icon name="search"></ion-icon>
        </button>
    </ion-fab>
    <div *ngIf="calls?.length==0" class="no_data">
        <img src="assets/imgs/no_data.png" class="no_data_image">
        <p>No data found.</p>
    </div>
    <div *ngFor="let call of calls" class="md-card" [style.border-left-color]="call.priority.color" (click)="viewCall(call)">
        <div class="md-card-header">
            <div class="md-card-header-actions">
                <ion-badge [style.background]="call.status.color" item-end>{{ call.status.title }}</ion-badge>
            </div>
            <h3 class="md-card-header-heading-text">
                #{{ call.call_no }} 
            </h3>
        </div>
        <div>
            <ion-list>
            	<ion-item>
                    <h2>{{ call.title }}</h2>
                    <p>{{ call.date | date: 'dd-MM-yyy' }} {{ call.time }}</p>
                    <p>{{ call.customer.customer_name }} | {{ call.customer.mobile_no }}</p>
                </ion-item>
            </ion-list>
        </div>
    </div>
</ion-content>