<ion-header>
    <ion-navbar>
        <ion-buttons left>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Filter</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item class="border">
            <ion-label>From Date :</ion-label>
            <ion-input type="date" [(ngModel)]="filter.from_date"></ion-input>
        </ion-item>
        <p class="error" *ngIf="errors && errors.from_date">{{ errors.from_date[0] }}</p>
    </ion-list>
    <ion-list>
        <ion-item class="border">
            <ion-label>To Date :</ion-label>
            <ion-input type="date" [(ngModel)]="filter.to_date"></ion-input>
        </ion-item>
        <p class="error" *ngIf="errors && errors.to_date">{{ errors.to_date[0] }}</p>
    </ion-list>
    <ion-list>
        <ion-item class="border">
            <ion-label>Category :</ion-label>
            <ion-select [(ngModel)]="filter.category_id">
            	<ion-option value="">All</ion-option>
			    <ion-option *ngFor="let category of categories" [value]="category.category_id">{{ category.title }}</ion-option>
			</ion-select>
        </ion-item>
        <p class="error" *ngIf="errors && errors.category_id">{{ errors.category_id[0] }}</p>
    </ion-list>
    <ion-list>
        <ion-item class="border">
            <ion-label>Status :</ion-label>
            <ion-select [(ngModel)]="filter.status_id">
            	<ion-option value="">All</ion-option>
			    <ion-option *ngFor="let status of statuses" [value]="status.status_id">{{ status.title }}</ion-option>
			</ion-select>
        </ion-item>
        <p class="error" *ngIf="errors && errors.status_id">{{ errors.status_id[0] }}</p>
    </ion-list>
</ion-content>
<ion-footer no-border>
    <button class="footer-button" ion-button full color="primary" (click)="filterCalls()">
    	Search
    </button>
</ion-footer>

