<ion-header>
  	<ion-navbar color="primary">
    	<ion-title>Profile</ion-title>
  	</ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid no-padding>
        <ion-row>
            <ion-col col-2></ion-col>
            <ion-col col-8>
        		<ion-avatar class="item-avatar">
        			<img src="assets/imgs/logo.png">
        		</ion-avatar>
            </ion-col>
            <ion-col col-2></ion-col>
        </ion-row>
    </ion-grid>
	<ion-list>
        <ion-item class="border">
            <ion-label>Name :</ion-label>
            <ion-input type="text" [(ngModel)]="user.name"></ion-input>
        </ion-item>
        <p class="error" *ngIf="errors && errors.name">{{ errors.name[0] }}</p>
        <ion-item class="border">
            <ion-label>Email :</ion-label>
            <ion-input type="text" [(ngModel)]="user.email"></ion-input>
        </ion-item>
        <p class="error" *ngIf="errors && errors.email">{{ errors.email[0] }}</p>
        <ion-item class="border">
            <ion-label>Mobile No :</ion-label>
            <ion-input type="text" [(ngModel)]="user.mobile_no"></ion-input>
        </ion-item>
        <p class="error" *ngIf="errors && errors.mobile_no">{{ errors.mobile_no[0] }}</p>
    </ion-list>
    <h3 class="password"><a [href]="apiProvider.changePasswordUrl" target="_blank">Change Password</a></h3>
</ion-content>
<ion-footer no-border>
    <button class="footer-button" ion-button full color="secondary" (click)="update()">
    	Update
    </button>
</ion-footer>