<ion-header>
    <ion-navbar>
        <ion-buttons left>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Reminder</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item class="border">
            <ion-label>Reminder Date :</ion-label>
            <ion-datetime [(ngModel)]="user.reminder_date" displayFormat="DD-MM-YYYY"></ion-datetime>
        </ion-item>
        <p class="error" *ngIf="errors && errors.status">{{ errors.status[0] }}</p>
    </ion-list>
    <ion-list>
        <ion-item class="border">
            <ion-label>Reminder :</ion-label>
            <ion-input type="text" [(ngModel)]="user.reminder"></ion-input>
        </ion-item>
        <p class="error" *ngIf="errors && errors.reminder">{{ errors.reminder[0] }}</p>
    </ion-list>
</ion-content>
<ion-footer no-border>
    <button class="footer-button" ion-button full color="primary" (click)="saveReminder()">
    	Submit
    </button>
</ion-footer>
