<ion-header>
    <ion-toolbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="body">
    <div *ngIf="call_types?.length==0" class="no_data">
        <img src="./assets/img/no_data.png" class="no_data_image">
        <p>No data found.</p>
    </div>
    <div class="card" *ngFor="let call_type of call_types">
        <div class="card-header" (click)="openCall(call_type.call_type,'')">
            <h3 class="card-header-text">
                {{ call_type.call_type.title }}
            </h3>
        </div>
        <ion-grid no-padding>
            <ion-row>
                <ion-col col-4 class="column" *ngFor="let status of call_type.statuses" (click)="openCall(call_type.call_type,status.status)">
                    <div class="icon" [style.color]="status.status.color">
                        <ion-icon name="bookmark"></ion-icon>
                    </div>
                    <div class="count" [style.color]="status.status.color">
                        {{ status.count }}
                    </div>
                    <div class="text" [style.color]="status.status.color">
                        {{ status.status.title }}
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
