page-home {

    .body {
        background: rgba(175, 173, 173, 0.3);
    }

    .card {
        margin-bottom:5px;
    }

    .card-header {
        height: 40px;
        padding: 0 16px;
        border-bottom: 1px solid rgba(0,0,0,.12);
        background: #fff;
    }

    .card-header-text {
        font: 500 15px/50px Roboto,sans-serif;
        color: #212121;
        margin: 0;
        float: left;
        overflow: hidden;
        height: 40px;
        margin-top: -4px;
    }

    .column {
        background: #fff;
        position: relative;
        border-bottom: 1px solid rgba(0,0,0,.12);
        border-right: 1px solid rgba(0,0,0,.12);
        min-height: 80px;
    }

    .icon {
        text-align:center;
        padding-top: 2px;
    }

    .count {
        font-size:20px;
        text-align:center;
        padding-top: 2px;
    }

    .text {
        text-align:center;
        padding: 5px;
    }
}
