page-notification {
    .body {
        background: rgba(175, 173, 173, 0.3);
    }

    .card {
        border-radius: 15px;
    }

    .notifications{
        text-align: center;
        left: 0;
        margin: auto;
        position: absolute;
        top: 25%;
        width: 100%;
   }
    .image{
        height: 100px; 
        width: 100px;
    }
}