<ion-header>
    <ion-toolbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Notifications</ion-title>
        <ion-buttons end *ngIf="notifications?.length!=0">
            <button ion-button icon-only (click) = "clearNotifications()">
                Clear
            </button>
        </ion-buttons> 
    </ion-toolbar>
</ion-header>

<ion-content class="body">
    <div class="notifications" *ngIf="notifications?.length==0">
        <img src="assets/imgs/no_notification.png" class = "image" >
        <p>No notifications found</p>
    </div>
    <ion-card class="card" *ngFor="let notification of notifications">
        <ion-item (click)="showNotification(notification)">
            <ion-avatar item-start>
                <img src="assets/imgs/bell.png">
            </ion-avatar>
            <h2>{{ notification.subject }}</h2>
            <p>{{ notification.message }}</p>
        </ion-item>
    </ion-card>
</ion-content>
