<ion-header>
  	<ion-navbar color="primary">
    	<ion-title>#{{ call.call_no }}</ion-title>
  	</ion-navbar>
</ion-header>

<ion-content class="body">
	<ion-fab right bottom>
        <button ion-fab color="secondary" (click)="makeCall()">
        	<ion-icon name="call"></ion-icon>
        </button>
    </ion-fab>
	<div class="md-card" [style.border-left-color]="call.priority.color">
        <div class="md-card-header">
            <div class="md-card-header-actions">
                <ion-badge [style.background]="call.status.color" item-end>{{ call.status.title }}</ion-badge>
            </div>
            <h3 class="md-card-header-heading-text">
                #{{ call.call_no }}
            </h3>
        </div>
        <div class="md-card-content">
        	<div class="divider">
	            <h2>Call Date & Time</h2>
	            <p>{{ call.date | date: 'dd-MM-yyy' }} {{ call.time }}</p>
	        </div>
	        <div class="divider">
	            <h2>Customer</h2>
	            <p>{{ call.customer.customer_name }} | {{ call.customer.mobile_no }}</p>
	            <p>{{ call.customer.address }}</p>
	        </div>
	        <div class="divider">
	            <h2>Category</h2>
	            <p [style.color]="call.category.color">{{ call.category.title }}</p>
	        </div>
	        <div class="divider">
	            <h2>Brand / Company</h2>
	            <p>{{ call.brand.brand_name }} - {{ call.customer_brand.capacity }}</p>
	        </div>
        	<div class="divider">
	            <h2>Description</h2>
	            <p>{{ call.description }}</p>
	        </div>
	        <div class="divider">
	            <h2>Completion Days &amp; Date</h2>
	            <p>{{ call.completion_days }} Days - {{ call.completion_date | date: 'dd-MM-yyy' }}</p>
	        </div>
	        <div class="divider">
	            <h2>Priority</h2>
	            <p [style.color]="call.priority.color">{{ call.priority.title }}</p>
	        </div>
	        <div class="divider">
	            <h2>Amount Type & Amount</h2>
	            <p>{{ call.amount_type }} - {{ call.amount }}</p>
	        </div>
	        <div class="divider">
	            <h2>Technician</h2>
	            <p>{{ call.user.name }} | {{ call.user.mobile_no }}</p>
	        </div>
        </div>
        
    </div>
</ion-content>
<ion-footer no-border>
	<ion-grid no-padding>
		<ion-row>
			<ion-col col-6 style="padding-right: 5px">
			    <button class="footer-button" ion-button full color="secondary" (click)="changeStatus()">
			    	Change Status
			    </button>
			</ion-col>
			<ion-col col-6 style="padding-left: 5px">
			    <button class="footer-button" ion-button full color="secondary" (click)="comments()">
			    	Comments
			    </button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-footer>
