<ion-header>
    <ion-toolbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Attendance</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid no-padding>
        <ion-row>
            <ion-col col-2></ion-col>
            <ion-col col-8>
        		<ion-avatar class="item-avatar">
        			<img src="assets/imgs/logo.png">
        		</ion-avatar>
            </ion-col>
            <ion-col col-2></ion-col>
        </ion-row>
    </ion-grid>
    <h3 class="text-center" *ngIf="status==0">Login</h3>
    <h3 class="text-center" *ngIf="status==1">Logout</h3>
    <ion-list *ngIf="status==0">
        <ion-item class="border">
            <ion-textarea rows="10" [(ngModel)]="attendance.login_note" placeholder="Please enter today's activity"></ion-textarea>
        </ion-item>
        <p class="error" *ngIf="errors && errors.login_note">{{ errors.login_note[0] }}</p>
    </ion-list>

    <ion-list *ngIf="status==1">
        <ion-item class="border">
            <ion-textarea rows="10" [(ngModel)]="attendance.logout_note" placeholder="Please enter today's activity report"></ion-textarea>
        </ion-item>
        <p class="error" *ngIf="errors && errors.logout_note">{{ errors.logout_note[0] }}</p>
    </ion-list>

</ion-content>
<ion-footer no-border>
    <button class="footer-button" ion-button full color="secondary" (click)="login()">
    	<span *ngIf="status==0">Click here to login</span>
    	<span *ngIf="status==1">Click here to logout</span>
    </button>
</ion-footer>