page-attendance {

	.item-avatar  {
		margin-bottom:50px;
	}

	.border {
        border:1px solid grey !important;
        margin-bottom:20px;
    }

    .text-center {
    	text-align:center;
    }

    .error {
    	color:red; 
    	margin-top: -15px !important
    }

    ion-input {
        input {
            text-align: right;
            ::-webkit-input-placeholder {
                text-align: right;
            }
        }
    }
    .item-md.item-input.input-has-focus .item-inner {
	  	border-bottom-color: transparent !important;
	  	box-shadow: none !important;
	}

	.list-md .item-input.input-has-focus:last-child {
	  	border-bottom-color: transparent !important;
	  	box-shadow: none !important;
	  	border:1px solid grey !important;
	}

	.list-md .item-input.input-has-focus:last-child .item-inner {
	  	box-shadow: none;
	}

	.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
	  	border-bottom-color: transparent !important;
	  	box-shadow: none !important;
	}

	.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
	  	border-bottom-color: transparent !important;
	  	box-shadow: none !important;
	  	border:1px solid grey !important;
	}

	.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner {
	  	box-shadow: none;
	}

	.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
	  	border-bottom-color: transparent !important;
	  	box-shadow: none !important;
	}

	.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
	  	border-bottom-color: transparent !important;
	  	box-shadow: none !important;
	}
	.footer-button {
        margin-top: 0px;
        margin-bottom: 0px;
        height:50px;
    }
}	
