<ion-menu id="menu" [content]="content" type="overlay">
	<ion-header>
		<ion-toolbar menuClose no-padding>
			<ion-item no-lines (click)="profile()" class="header-color"> 
				<ion-avatar item-start>
					<img src="assets/imgs/avatar.png">
				</ion-avatar>
				<h2>{{ user.name }}</h2>
				<p>{{ user.email }}</p>
				<ion-icon name="ios-arrow-forward" color="gray" item-end></ion-icon>
			</ion-item>
		</ion-toolbar>
	</ion-header>

	<ion-content no-padding>
		<ion-item no-lines>
			<img src="assets/imgs/logo.png">
		</ion-item> 
		<hr>
		<ion-item no-lines class="icon_item"> 
			<button menuClose ion-item (click)="homePage()" class="menu"> Home
				<ion-avatar item-start class="app">
					<img src="assets/imgs/home.png">
				</ion-avatar>
			</button>
			<button menuClose ion-item *ngFor="let call_type of call_types" (click)="openCall(call_type.call_type,'')" class="menu"> {{ call_type.call_type.title }}
				<ion-avatar item-start class="app">
					<img src="assets/imgs/call.png">
				</ion-avatar>
			</button>
			<button menuClose ion-item (click)="attendancePage()" class="menu"> Attendance
				<ion-avatar item-start class="app">
					<img src="assets/imgs/attendance.png">
				</ion-avatar>
			</button>
			<button menuClose ion-item (click)="leadsPage()" class="menu"> Leads
				<ion-avatar item-start class="app">
					<img src="assets/imgs/user.png">
				</ion-avatar>
			</button>
			<button menuClose ion-item (click)="notificationPage()" class="menu"> Notifications
				<ion-avatar item-start class="app">
					<img src="assets/imgs/notification.png">
				</ion-avatar>
			</button>
			<button menuClose ion-item (click)="logout()" class="menu"> Logout
				<ion-avatar item-start class="app">
					<img src="assets/imgs/logout.png">
				</ion-avatar>
			</button>
		</ion-item>
	</ion-content>

</ion-menu>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>