
@media not all and (min-height: 600px) and (min-width: 768px) {
    ion-modal{
        background: rgba(0,0,0,0.5)
    }
}

@media only screen and (min-height: 0px) and (min-width: 0px) {
    .filter-modal {
        .modal-wrapper {
            position:absolute;
            bottom: 0 !important;
            width: 100% !important;
            height: 60% !important;
            background: transparent;
        }   
    }
    .status-modal {
        .modal-wrapper {
            position:absolute;
            bottom: 0 !important;
            width: 100% !important;
            height: 60% !important;
            background: transparent;
        }   
    }

    .app {
        background-color:  #f53d3d; 
        border-radius: 50px; 
        padding-left: 0px;
    }
}

.icon_item {
    margin-left: -13px;
}

.no_data{
    text-align: center;
    left: 0;
    margin: auto;
    position: absolute;
    top: 37%;
    width: 100%;
}
.no_data_image{
    height: 100px; 
    width: 100px;
}

.header-color {
    background: #f53d3d !important;
    color:#fff;
}

.header-color p{
    color:#fff;
}

.version {
    text-align: right;
}
