<ion-header>
  <ion-toolbar color="primary">
        <ion-title>Connection Error</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <div class="offline">
        <img src="assets/imgs/offline.png" class="image">
        <p>Oops! Something went wrong</p>
        <p>Please check internet connection</p>
    </div>
</ion-content>
