page-offline {
	 .body {
        background: rgba(175, 173, 173, 0.3);
    }

    .image{
        height: 100px; 
        width: 100px;
    }

    .offline{
        text-align: center;
        left: 0;
        margin: auto;
        position: absolute;
        top: 20%;
        width: 100%;
   }
}
