<ion-header>
    <ion-navbar>
        <ion-buttons left>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Change Status</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item class="border">
            <ion-label>Status :</ion-label>
            <ion-select [(ngModel)]="user.status">
			    <ion-option value="Open">Open</ion-option>
			    <ion-option value="Order Closed">Order Closed</ion-option>
			    <ion-option value="Order Canceled">Order Canceled</ion-option>
			</ion-select>
        </ion-item>
        <p class="error" *ngIf="errors && errors.status">{{ errors.status[0] }}</p>
    </ion-list>
    <ion-list>
        <ion-item class="border">
            <ion-label>Reason :</ion-label>
            <ion-input type="text" [(ngModel)]="user.reason"></ion-input>
        </ion-item>
        <p class="error" *ngIf="errors && errors.reason">{{ errors.reason[0] }}</p>
    </ion-list>
</ion-content>
<ion-footer no-border>
    <button class="footer-button" ion-button full color="primary" (click)="changeStatus()">
    	Submit
    </button>
</ion-footer>
