<ion-header>
    <ion-toolbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Leads</ion-title>
    </ion-toolbar>
    <ion-searchbar placeholder="Search" no-padding (ionInput)="searchLeads($event)"></ion-searchbar>
</ion-header>

<ion-content>
	<ion-fab right bottom>
        <button ion-fab color="primary" (click)="newLead()">
        	<ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
    <div *ngIf="leads?.length==0" class="no_data">
        <img src="assets/imgs/no_data.png" class="no_data_image">
        <p>No data found.</p>
    </div>
    <ion-list [virtualScroll]="leads">
        <ion-item *virtualItem="let lead" (click)="selectLead(lead)">
            <h2>{{ lead.lead_code }} - {{ lead.lead_name }}</h2>
            <p>{{ lead.lead_type.title }} - {{ lead.mobile_no }}</p>
            <ion-icon item-end name="ios-arrow-forward" color="gray"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>
