<ion-header>
  	<ion-navbar color="primary">
    	<ion-title>{{ lead.lead_name }}</ion-title>
  	</ion-navbar>
</ion-header>

<ion-content class="body">
	<ion-fab right bottom>
        <button ion-fab color="secondary" (click)="makeCall()">
        	<ion-icon name="call"></ion-icon>
        </button>
    </ion-fab>
	<div class="md-card">
        <div class="md-card-header">
            <h3 class="md-card-header-heading-text">
                Status : {{ lead.status }}
            </h3>
        </div>
        <div class="md-card-content">
	        <div class="divider">
	            <h2>Lead Code</h2>
	            <p>{{ lead.lead_code }}
	        </div>
	        <div class="divider">
	            <h2>Lead Name</h2>
	            <p>{{ lead.lead_name }}
	        </div>
	        <div class="divider" *ngIf="lead.lead_type">
	            <h2>Lead Type</h2>
	            <p>{{ lead.lead_type.title }}</p>
	        </div>
	        <div class="divider" *ngIf="lead.category">
	            <h2>Product Interest</h2>
	            <p>{{ lead.category.title }}</p>
	        </div>
	        <div class="divider">
	            <h2>Mobile No</h2>
	            <p>{{ lead.mobile_no }}
	        </div>
	        <div class="divider">
	            <h2>Alternate No</h2>
	            <p>{{ lead.laternate_no }}
	        </div>
	        <div class="divider">
	            <h2>Email</h2>
	            <p>{{ lead.email }}
	        </div>
	        <div class="divider" *ngIf="lead.reference">
	            <h2>Reference</h2>
	            <p>{{ lead.reference.title }}</p>
	        </div>
	        <div class="divider" *ngIf="lead.area">
	            <h2>Area</h2>
	            <p>{{ lead.area.area }}</p>
	        </div>
	        <div class="divider">
	            <h2>Address</h2>
	            <p>{{ lead.address }}
	        </div>
	        <div class="divider" *ngIf="lead.reason!=''">
	            <h2>Reason</h2>
	            <p>{{ lead.reason }}
	        </div>
        </div>
    </div>
    <br>
    <div class="md-card">
        <div class="md-card-header">
            <h3 class="md-card-header-heading-text">
                Reminders
            </h3>
        </div>
        <div class="md-card-content">
        	<ion-list>
		        <ion-item *ngFor="let reminder of lead.reminders" text-wrap>
		            <h2>{{ reminder.reminder_date | date: 'dd-MM-yyyy' }}</h2>
		            <span >{{ reminder.reminder }}</span>
		        </ion-item>
		    </ion-list>
        </div>
    </div>
    <br>
    <div class="md-card">
        <div class="md-card-header">
            <h3 class="md-card-header-heading-text">
                Images
            </h3>
        </div>
        <div class="md-card-content" *ngFor="let image of lead.images">
        	<p>{{ image.image }}</p>
        </div>
    </div>
    <ion-grid>
		<ion-row>
			<ion-col>
			    <button ion-button full color="light" (click)="reminder()">
			    	Reminder
			    </button>
			</ion-col>
			<ion-col>
			    <button ion-button full color="light" (click)="image()">
			    	Image
			    </button>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
			    <button ion-button full color="light" (click)="changeStatus()">
			    	Status
			    </button>
			</ion-col>
			<ion-col>
			    <button ion-button full color="light" (click)="comments()">
			    	Comments
			    </button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>