page-lead-comments {
    .body {
        background: rgba(175, 173, 173, 0.3);
    }

    .no-scroll .scroll-content{
        overflow: hidden;
    }

    .md-card {
        background: #fff;
        position: relative;
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
        box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
        border: none;
        margin:10px;
    }

    /*Header*/

    .md-card .md-card-header {
        height: 48px;
        padding: 0 16px;
        border-bottom: 1px solid rgba(0,0,0,.12);
        background: #fff;
    }

    .md-card .md-card-header-heading-text {
        font: 500 15px/50px Roboto,sans-serif;
        color: #212121;
        margin: 0;
        float: left;
        overflow: hidden;
        height: 48px;
    }

    .md-card .md-card-header .md-card-header-actions {
        float: right;
        padding-top: 10px;
    }

    .md-card .md-card-content {
        padding: 8px;
        margin-bottom: -12px;
        line-height: 18px;
    }

    .md-card .md-card-content .divider {
        margin-bottom:10px;
    }

    .md-card .md-card-content h2 {
        font-size:16px;
        margin: 0px;
    }

    .md-card .md-card-content p {
        font-size:14px;
        margin: 0px;
    }

    .md-card-header-actions ion-badge{
        margin-top: 2px;
        font-size: 15px;
    }
    .footer-grid {
        text-align: center; 
        margin-top: -5px
    }

    .list-md {
        margin: 0;
    }

    .label-md {
        margin: 2px 11px 5px 0;
    }

    .border {
        border:1px solid grey !important;
        margin-bottom:20px;
    }
    .error {
        color:red; 
        margin-top: -15px !important
    }
    
    .item-md.item-input.input-has-focus .item-inner {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }

    .list-md .item-input.input-has-focus:last-child {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
        border:1px solid grey !important;
    }

    .list-md .item-input.input-has-focus:last-child .item-inner {
        box-shadow: none;
    }

    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }

    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
        border:1px solid grey !important;
    }

    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner {
        box-shadow: none;
    }

    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }

    .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }
    .footer-button {
        margin-top: 0px;
        margin-bottom: 0px;
        height:40px;
    }
}

