<ion-header>
  	<ion-navbar color="primary">
    	<ion-title>#{{ lead.lead_code }} Queries</ion-title>
  	</ion-navbar>
</ion-header>

<ion-content class="body">
	<div class="md-card">
        <div class="md-card-header">
            <div class="md-card-header-actions">
                <ion-badge color="danger" item-end>{{ lead.status }}</ion-badge>
            </div>
            <h3 class="md-card-header-heading-text">
                {{ lead.lead_name }}
            </h3>
        </div>
        <div class="md-card-content">
        	<ion-list>
		        <ion-item class="border">
		            <ion-input type="text" [(ngModel)]="query.query" placeholder="query"></ion-input>
		        </ion-item>
		        <p class="error" *ngIf="errors && errors.query">{{ errors.query[0] }}</p>
		    </ion-list>
        </div>
        <div class="md-card-footer">
            <button class="footer-button" ion-button full color="secondary" (click)="saveQuery()">
		    	Submit
		    </button>
        </div>
    </div>
    <div class="md-card" *ngFor="let query of lead.queries">
        <div class="md-card-content">
        	<div class="divider">
	            <h2>{{ query.query }}</h2>
	            <p>By {{ query.user.name }} @ {{ query.created_at | date: 'dd-MM-yyy hh:mm:ss a' }} </p>
	        </div>
	    </div>
    </div>
</ion-content>