<ion-header>
  	<ion-navbar color="primary">
    	<ion-title>#{{ call.call_no }} Comments</ion-title>
  	</ion-navbar>
</ion-header>

<ion-content class="body">
	<div class="md-card">
        <div class="md-card-header">
            <div class="md-card-header-actions">
                <ion-badge [style.background]="call.status.color" item-end>{{ call.status.title }}</ion-badge>
            </div>
            <h3 class="md-card-header-heading-text">
                #{{ call.call_no }} | {{ call.date | date: 'dd-MM-yyy' }}
            </h3>
        </div>
        <div class="md-card-content">
        	<ion-list>
		        <ion-item class="border">
		            <ion-input type="text" [(ngModel)]="comment.comment" placeholder="Comment"></ion-input>
		        </ion-item>
		        <p class="error" *ngIf="errors && errors.comment">{{ errors.comment[0] }}</p>
		    </ion-list>
        </div>
        <div class="md-card-footer">
            <button class="footer-button" ion-button full color="secondary" (click)="saveComment()">
		    	Submit
		    </button>
        </div>
    </div>
    <div class="md-card" *ngFor="let comment of call.comments">
        <div class="md-card-content">
        	<div class="divider">
	            <h2>{{ comment.comment }}</h2>
	            <p>By {{ comment.user.name }} @ {{ comment.created_at | date: 'dd-MM-yyy hh:mm:ss a' }} </p>
	        </div>
	    </div>
    </div>
</ion-content>